.header {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensure it's above other content */
}

.logo img {
  max-height: 50px;
  padding: 5px;
}

.nav-links {
  margin-right: 20px; /* Add some space to the right of links */
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}
